<ion-header>

    <ion-navbar>
        <ion-title ion-left>
            <ion-icon name="key"></ion-icon>
            Sign Up
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div text-center>
        <h2>Welcome To Our Site</h2>
        <h3>Create Your Account</h3>
    </div>

    <ion-list no-lines>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

            <div>
                <ion-item>
                    <ion-label floating>
                        <ion-icon name="contact"></ion-icon>&nbsp; Name</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <p *ngIf="(signUpForm.get('name').touched && signUpForm.get('name').errors) && signUpForm.get('name').errors.required" style="color: #ea6153;"
                    padding-left>Name is Required !!</p>
                <p *ngIf="(signUpForm.get('name').touched && signUpForm.get('name').errors) && signUpForm.get('name').errors.minlength" style="color: #ea6153;"
                    padding-left>Too Short !!</p>
            </div>

            <div>
                <ion-item>
                    <ion-label floating>
                        <ion-icon name="at"></ion-icon>&nbsp; E-Mail</ion-label>
                    <ion-input #email formControlName="email" type="email" (keyup)="checkEmail(email.value)"></ion-input>
                </ion-item>
                <p *ngIf="(signUpForm.get('email').touched && signUpForm.get('email').errors) && signUpForm.get('email').errors.required"
                    style="color: #ea6153;" padding-left>E-Mail is Required !!</p>
                <p *ngIf="(signUpForm.get('email').touched && signUpForm.get('email').errors) && signUpForm.get('email').errors.pattern"
                    style="color: #ea6153;" padding-left>Please Enter Correct E-mail !!</p>
                <p *ngIf="emailExist" style="color: #ea6153;" padding-left>Email is already Exist .. Try another One !!</p>
            </div>

            <div formGroupName="passwordFG">
                <ion-item>
                    <ion-label floating>
                        <ion-icon name="unlock"></ion-icon>&nbsp; Password</ion-label>
                    <ion-input formControlName="password" type="password"></ion-input>
                </ion-item>
                <p *ngIf="(signUpForm.get('passwordFG.password').touched && signUpForm.get('passwordFG.password').errors) && signUpForm.get('passwordFG.password').errors.required"
                    style="color: #ea6153;" padding-left>Password is Required !!</p>
                <p *ngIf="(signUpForm.get('passwordFG.password').touched && signUpForm.get('passwordFG.password').errors) && signUpForm.get('passwordFG.password').errors.pattern"
                    style="color: #ea6153;" padding-left>Password Must Be Copmlex !!</p>

                <ion-item>
                    <ion-label floating>
                        <ion-icon name="unlock"></ion-icon>&nbsp; Confirm Password</ion-label>
                    <ion-input formControlName="confirmPassword" type="password"></ion-input>
                </ion-item>
                <!--<p *ngIf="signUpForm.get('passwordFG.confirmPassword').touched && signUpForm.get('passwordFG.confirmPassword').errors" style="color: #ea6153;"
                    padding-left>Confirm Password is Required !!</p>-->
                <p *ngIf="(signUpForm.get('passwordFG.confirmPassword').touched && signUpForm.get('passwordFG').errors) && signUpForm.get('passwordFG').errors.match"
                    style="color: #ea6153;" padding-left>Two Values Must Be The Same !!</p>
            </div>

            <div>
                <ion-item>
                    <ion-label floating>
                        <ion-icon name="call"></ion-icon>&nbsp; Phone</ion-label>
                    <ion-input formControlName="phone" type="text"></ion-input>
                </ion-item>
                <p *ngIf="(signUpForm.get('phone').touched && signUpForm.get('phone').errors) && signUpForm.get('phone').errors.required"
                    style="color: #ea6153;" padding-left>Phone is Required !!</p>
                <p *ngIf="(signUpForm.get('phone').touched && signUpForm.get('phone').errors) && signUpForm.get('phone').errors.pattern"
                    style="color: #ea6153;" padding-left>Please Enter Correct Phone Number !!</p>
            </div>

            <div>
                <ion-item>
                    <ion-label>
                        <ion-icon name="podium"></ion-icon>&nbsp; Governorate <span style="color:red;">(Required)</span></ion-label>
                    <ion-select formControlName="governorate" (ionChange)="GovDDL_Changed(signUpForm.get('governorate').value)">
                        <ion-option *ngFor="let gov of govs" value="{{gov.GovernorateID}}">{{gov.Name}}</ion-option>
                    </ion-select>
                </ion-item>
            </div>

            <div>
                <ion-item>
                    <ion-label>
                        <ion-icon name="podium"></ion-icon>&nbsp; City <span style="color:red;">(Required)</span></ion-label>
                    <ion-select formControlName="city" [disabled]="!signUpForm.get('governorate').dirty">
                        <ion-option *ngFor="let c of cities" value="{{c.CityID}}">{{c.Name}}</ion-option>
                    </ion-select>
                </ion-item>
            </div>

            <div>
                <ion-item>
                    <ion-label floating>
                        <ion-icon name="locate"></ion-icon>&nbsp; Address</ion-label>
                    <ion-input formControlName="address" type="text"></ion-input>
                </ion-item>
            </div>

            <div text-center>
                <ion-label>
                    <ion-icon name="images"></ion-icon>&nbsp; Photo</ion-label>
                <button ion-button (click)="getImage()">Upload Photo</button>
                <hr/>
                <img width="125" height="125" *ngIf="image" src="{{image}}" />
            </div>
            <hr/>
            <ion-item *ngIf="!addStatus">
                <button ion-button full large color="primary" [disabled]='!signUpForm.valid || emailExist'>
                <ion-icon name="create-outline"></ion-icon> &nbsp;&nbsp;&nbsp;Sign Up</button>
            </ion-item>
        </form>

        <br/>
        <p *ngIf="validityError" style="color: #ea6153;" padding-left>Data is Not Valid !!</p>
        <div *ngIf="addStatus">
            <h3 style="color:darkblue" text-center padding-left>Congratulations .. You are Now a Member ..</h3>
            <button ion-button full large round color="secondary" (click)="continue()">Continue</button>
        </div>

    </ion-list>
</ion-content>