<ion-header>
    <ion-navbar>
        <ion-title>Profile</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid *ngIf="data">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-avatar item-left>
                        <img src="data:image/png;base64,{{data.Image}}" id="Imge" *ngIf="data.Image">
                        <img src="https://image.ibb.co/fNy6L5/images.jpg" id="Imge" *ngIf="!data.Image">
                    </ion-avatar>
                    <button ion-button icon-left (click)="editProfile()">
                      <ion-icon name="settings"></ion-icon>Edit Profile
                    </button><br/>
                    <button ion-button icon-left (click)="goToAddBook()">
                      <ion-icon name="add-circle"></ion-icon>Add Book
                    </button>
                </ion-item>
                <ion-item>
                    <ion-card>
                        <ion-card-content>
                            <h3>Address : {{data.Address}}</h3><br>
                            <h3>Email : {{data.Email}}</h3><br>
                            <h3>Phone : {{data.Phone}}</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
                <ion-item>
                    <div text-center id="divv">
                        <h2>Your Books</h2>
                    </div>
                    <div *ngIf="!Book" text-center>
                        <br/>
                        <br/>
                        <h2 #error style="color: #ea6153;" padding-left>You Have No Books Yet</h2>
                    </div>
                    <div *ngIf="Book">
                        <ion-slides pager loop effect="fade">
                            <ion-slide *ngFor="let item of Book">
                                <ion-card>
                                    <ion-card-header>
                                        <h3>{{item.Title}}</h3>
                                    </ion-card-header>
                                    <ion-card-content>
                                        <img *ngIf="item.Cover" src="data:image/png;base64,{{item.Cover}}" id="Image" />
                                        <img *ngIf="!item.Cover" src="https://image.ibb.co/dCLLf5/noimagefound.jpg" id="Image" />
                                        <p>Author : {{item.Author}} <br> Available : {{item.Available}} <br> Description : {{item.Description}}<br/>                                            ForBorrow : {{item.ForBorrow}} <span *ngIf="item.ForBorrow">=> Duration : {{item.Duration}}</span>                                            <br/>ForSale : {{item.ForSale}} <span *ngIf="item.ForSale">=> Price : {{item.Price}}</span>
                                        </p>
                                        <button ion-button (click)='editBook($event,item.BookID)'>Edit</button>
                                        <button ion-button color="danger" (click)='deleteBook($event,item.BookID)'>Delete</button>
                                    </ion-card-content>
                                </ion-card>
                            </ion-slide>
                        </ion-slides>
                    </div>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>