<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="ion-ios-plus-outline"></ion-icon>
      Add Book</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header text-center color="primary">
      <b>Add New Book</b>
    </ion-card-header>
  </ion-card>

  <ion-list no-lines>
    <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">

      <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="book"></ion-icon>&nbsp; Title</ion-label>
          <ion-input formControlName="title" type="text"></ion-input>
        </ion-item>
        <p *ngIf="(addBookForm.get('title').touched && addBookForm.get('title').errors) && addBookForm.get('title').errors.required"
          style="color: #ea6153;" padding-left>Title is Required !!</p>
        <p *ngIf="(addBookForm.get('title').touched && addBookForm.get('title').errors) && addBookForm.get('title').errors.minlength"
          style="color: #ea6153;" padding-left>Too Short !!</p>
      </div>

      <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="person"></ion-icon>&nbsp; Author</ion-label>
          <ion-input formControlName="author" type="text"></ion-input>
        </ion-item>
        <p *ngIf="(addBookForm.get('author').touched && addBookForm.get('author').errors) && addBookForm.get('author').errors.required"
          style="color: #ea6153;" padding-left>Author is Required !!</p>
        <p *ngIf="(addBookForm.get('author').touched && addBookForm.get('author').errors) && addBookForm.get('author').errors.minlength"
          style="color: #ea6153;" padding-left>Too Short !!</p>
      </div>

      <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="card"></ion-icon>&nbsp; Discription</ion-label>
          <ion-textarea formControlName="discription"></ion-textarea>
        </ion-item>
        <p *ngIf="(addBookForm.get('discription').touched && addBookForm.get('discription').errors) && addBookForm.get('discription').errors.minlength"
          style="color: #ea6153;" padding-left>Too Short !!</p>
        <p *ngIf="(addBookForm.get('discription').touched && addBookForm.get('discription').errors) && addBookForm.get('discription').errors.maxlength"
          style="color: #ea6153;" padding-left>Too Long !!</p>
      </div>

      <div>
        <ion-item>
          <ion-label>For Sale</ion-label>
          <ion-toggle #forsale formControllerName="forSale" color="primary" large checked="false"></ion-toggle>
        </ion-item>
      </div>

      <div *ngIf="forsale.checked">
        <ion-item>
          <ion-label floating>
            <ion-icon name="logo-bitcoin"></ion-icon>&nbsp; Price</ion-label>
          <ion-textarea formControlName="price"></ion-textarea>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-label>For Borrow</ion-label>
          <ion-toggle #forBorrow formControllerName="forBorrow" color="primary" large checked="false"></ion-toggle>
        </ion-item>
      </div>

      <div *ngIf="forBorrow.checked">
        <ion-item>
          <ion-label floating>
            <ion-icon name="logo-bitcoin"></ion-icon>&nbsp; Duration</ion-label>
          <ion-textarea formControlName="duration"></ion-textarea>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-label>Available</ion-label>
          <ion-toggle formControllerName="available" color="primary" large checked="false"></ion-toggle>
        </ion-item>
      </div>

      <ion-item *ngIf="!addStatus">
        <button ion-button full large color="primary" [disabled]='!addBookForm.valid'>
                <ion-icon name="create-outline"></ion-icon> &nbsp;&nbsp;&nbsp;Create Book</button>
      </ion-item>
    </form>


  </ion-list>
</ion-content>