<ion-header>
</ion-header>
<ion-content padding>
    <p #error *ngIf="flag" style="color: #ea6153; " padding-left>{{errors}}</p>
    <ion-list *ngFor="let item of data">
        <ion-item *ngIf="flag==false" text-wrap>
            <ion-avatar item-start>
                <img *ngIf="item.Cover" src="data:image/png;base64,{{item.Cover}}">
                <img *ngIf="!item.Cover" src="https://image.ibb.co/dCLLf5/noimagefound.jpg">
            </ion-avatar>
            <h2>{{item.Name}}</h2>
            <p>{{item.Name}} Wants to {{item.Action}} Your Book <br>{{item.BookName}} </p>
            <button ion-button icon-only (click)="AcceptNot()">
              <ion-icon name="settings"></ion-icon>
            </button>
        </ion-item>
    </ion-list>

</ion-content>