<ion-header>

    <ion-navbar>
        <ion-title>Log In</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div text-center>
        <img src='https://preview.ibb.co/cvyPYQ/916266.jpg' style="border-radius: 50%;" />
    </div>
    <br/>
    <ion-list no-lines>
        <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">

            <ion-item>
                <ion-label floating>
                    <ion-icon name="mail"></ion-icon>&nbsp; E-Mail</ion-label>
                <ion-input formControlName="email" type="text" (focus)="hideError()"></ion-input>
            </ion-item>
            <p *ngIf="logInForm.get('email').touched && !logInForm.get('email').valid" style="color: #ea6153;" padding-left>Invalid Email</p>

            <ion-item>
                <ion-label floating>
                    <ion-icon name="create"></ion-icon>&nbsp;Password</ion-label>
                <ion-input formControlName="password" type="password" (focus)="hideError()"></ion-input>
            </ion-item>
            <p #error *ngIf="errors != true" style="color: #ea6153;" padding-left>{{errors}}</p>

            <ion-item>
                <button ion-button full large color="primary" [disabled]="!logInForm.valid">
        <ion-icon name="log-in"></ion-icon> &nbsp;&nbsp;&nbsp;Log In</button>
            </ion-item>
        </form>
    </ion-list>
</ion-content>