<ion-header>
    <ion-toolbar>
        <ion-title>Welcome {{UserName}}</ion-title>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-buttons right>
            <button ion-button icon-left (click)="notifications()">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge item-end *ngIf="CountNot" >{{CountNot}}</ion-badge>
            </button>
            <button ion-button (click)="LogOut()">
      <ion-icon name="log-out"></ion-icon>
    </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-slides pager loop effect="fade">
                    <ion-slide *ngFor="let item of books">
                        <ion-card>
                            <ion-card-header>
                                <h1>Most Borrowed Book</h1> {{item.Title}}
                            </ion-card-header>
                            <ion-card-content>
                                <img *ngIf="item.Cover" src="data:image/png;base64,{{item.Cover}}" id="Image" />
                                <img *ngIf="!item.Cover" src="../assets/NotPictured.jpg" id="Image" />
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-col>
                <ion-slides pager loop effect="fade">
                    <ion-slide *ngFor="let item of User">
                        <ion-card>
                            <ion-card-header>
                                <h1>Most Active Users
                                </h1> {{item.Name}} <br> {{item.CityName}}
                            </ion-card-header>
                            <ion-card-content>
                                <img *ngIf="item.Image" src="data:image/png;base64,{{item.Image}}" />
                                <img *ngIf="!item.Image" src="../assets/images.jpg" id="Image" />
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <button ion-button full icon-left round (click)="Search()"> <ion-icon name="search"></ion-icon>Search</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>