<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="Userr">Welcome {{Userr.Name}}</ion-title>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-buttons right>
            <button ion-button icon-left (click)="notifications()">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge item-end *ngIf="CountNot" >{{CountNot}}</ion-badge>
            </button>
            <button ion-button (click)="LogOut()">
      <ion-icon name="log-out"></ion-icon>
    </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-slides pager loop effect="fade" *ngIf="DataFlag">
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <h1>Most Borrowed Book</h1> Sorry,There is No Data Yet
                            </ion-card-header>
                            <ion-card-content>
                                <img src="https://image.ibb.co/k3kLf5/book1.jpg" id="Image" />
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>

                <ion-slides pager loop effect="fade" *ngIf="!DataFlag">
                    <ion-slide *ngFor="let item of books">
                        <ion-card>
                            <ion-card-header>
                                <h1>Most Borrowed Book</h1> {{item.Title}}
                            </ion-card-header>
                            <ion-card-content>
                                <div>
                                    <img *ngIf="item.Cover" src="data:image/png;base64,{{item.Cover}}" id="Image" />
                                    <img *ngIf="!item.Cover" src="https://image.ibb.co/dCLLf5/noimagefound.jpg" id="Image" />
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-slides pager loop effect="fade" *ngIf="UserFlag">
                    <ion-slide>
                        <ion-card>
                            <ion-card-header>
                                <h1>Most Active Users</h1> Sorry,There is No Data Yet
                            </ion-card-header>
                            <ion-card-content>
                                <img src="https://image.ibb.co/fNy6L5/images.jpg" id="UserImg" />
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
                <ion-slides pager loop effect="fade" *ngIf="!UserFlag">
                    <ion-slide *ngFor="let item of User">
                        <ion-card>
                            <ion-card-header>
                                <h1>Most Active Users
                                </h1> {{item.Name}} <br> {{item.CityName}}
                            </ion-card-header>
                            <ion-card-content>
                                <img *ngIf="item.Image" src="data:image/png;base64,{{item.Image}}" id="UserImg" />
                                <img *ngIf="!item.Image" src="https://image.ibb.co/dCLLf5/noimagefound.jpg" id="UserImg" />
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <button ion-button full icon-left round (click)="Search()"> <ion-icon name="search"></ion-icon>Search</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>