<ion-header>

  <ion-navbar>
    <ion-title>Edit Book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="book">
    <ion-list no-lines>
      <form [formGroup]="editBookForm">

        <div>
          <ion-item>
            <ion-label floating>
              <ion-icon name="book"></ion-icon>&nbsp; Title</ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
          </ion-item>
          <p *ngIf="(editBookForm.get('title').touched && editBookForm.get('title').errors) && editBookForm.get('title').errors.required"
            style="color: #ea6153;" padding-left>Title is Required !!</p>
          <p *ngIf="(editBookForm.get('title').touched && editBookForm.get('title').errors) && editBookForm.get('title').errors.minlength"
            style="color: #ea6153;" padding-left>Too Short !!</p>
        </div>

        <div>
          <ion-item>
            <ion-label floating>
              <ion-icon name="person"></ion-icon>&nbsp; Author</ion-label>
            <ion-input formControlName="author" type="text"></ion-input>
          </ion-item>
          <p *ngIf="(editBookForm.get('author').touched && editBookForm.get('author').errors) && editBookForm.get('author').errors.required"
            style="color: #ea6153;" padding-left>Author is Required !!</p>
          <p *ngIf="(editBookForm.get('author').touched && editBookForm.get('author').errors) && editBookForm.get('author').errors.minlength"
            style="color: #ea6153;" padding-left>Too Short !!</p>
        </div>

        <div>
          <ion-item>
            <ion-label floating>
              <ion-icon name="card"></ion-icon>&nbsp; Discription</ion-label>
            <ion-textarea #disc formControlName="discription"></ion-textarea>
          </ion-item>
          <p *ngIf="(editBookForm.get('discription').touched && editBookForm.get('discription').errors) && editBookForm.get('discription').errors.minlength"
            style="color: #ea6153;" padding-left>Too Short !!</p>
          <p *ngIf="(editBookForm.get('discription').touched && editBookForm.get('discription').errors) && editBookForm.get('discription').errors.maxlength"
            style="color: #ea6153;" padding-left>Too Long !!</p>
        </div>

        <div>
          <ion-item>
            <ion-label>For Sale</ion-label>
            <ion-toggle #forsale formControllerName="forSale" color="primary" large [checked]="book.ForSale" (ionChange)='changeForSale()'></ion-toggle>
          </ion-item>
        </div>

        <div *ngIf="forsale.checked">
          <ion-item>
            <ion-label floating>
              <ion-icon name="logo-bitcoin"></ion-icon>&nbsp; Price</ion-label>
            <ion-input [(ngModel)]="price" formControlName="price" type="text"></ion-input>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-label>For Borrow</ion-label>
            <ion-toggle #forBorrow formControllerName="forBorrow" color="primary" large [checked]="book.ForBorrow" (ionChange)='changeForBorrow()'></ion-toggle>
          </ion-item>
        </div>

        <div *ngIf="forBorrow.checked">
          <ion-item>
            <ion-label floating>
              <ion-icon name="logo-bitcoin"></ion-icon>&nbsp; Duration</ion-label>
            <ion-input [(ngModel)]="duration" formControlName="duration" type="text"></ion-input>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-label>Available</ion-label>
            <ion-toggle formControllerName="available" color="primary" large [checked]="book.Available" (ionChange)='changeAvailable()'></ion-toggle>
          </ion-item>
        </div>

        <div text-center>
          <ion-label>
            <ion-icon name="images"></ion-icon>&nbsp; Cover</ion-label>
          <button ion-button (click)="getImage()" [disabled]="addStatus">Upload Cover</button>
          <hr/>
          <img width="200" height="200" *ngIf="image" src="{{image}}" />
        </div>
        <hr/>

        <ion-item *ngIf="!addStatus">

          <button ion-button full large color="primary" (click)="onSubmit()" [disabled]='!editBookForm.valid
             || (forsale.checked == true && ([price] == "")) || (forBorrow.checked == true && ([duration] == ""))'>
                <ion-icon name="create-outline"></ion-icon> &nbsp;&nbsp;&nbsp;Update Book</button>
        </ion-item>
      </form>

      <br/>
      <div *ngIf="addStatus">
        <h2 style="color:darkblue" text-center padding-left>Your Book Updated Successfully ..</h2>
        <button ion-button full large round color="secondary" (click)="continue()">Continue</button>
      </div>

    </ion-list>
  </div>
</ion-content>